  <div class="layout flex flex--col">
    <div class="w--full">
    {% if trains.size > 0 %}
      <table class="table table--small">
        <thead>
          <tr>
            <th></th>
            <th>Destination</th>
            <th>Platform</th>
            <th>Departs</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-black">
          {% for train in trains limit: 8 %}
            <tr>
              
              <!-- Transport Mode Icon -->
              <td>
                {% if train.mode == 'Rail' %}
                  <!-- Train Icon for National Rail (removed explicit width/height from SVG to allow CSS to control) -->
                  <img class="object-contain image-dither" width="20" height="20" src="https://raw.githubusercontent.com/dimkagfx/trmnl-london-departure-board/refs/heads/master/National_Rail_logo.svg" />
                {% else %}
                  <!-- Tram/Subway Icon for TfL / DLR -->
                  <img class="object-contain image-dither" width="20" height="20" src="https://raw.githubusercontent.com/dimkagfx/trmnl-london-departure-board/refs/heads/master/tfl_roundel.svg" />
                {% endif %}
              </td>

              <!-- Destination -->
              <td>
                <span class="text-3xl font-bold" data-clamp="1">{{ train.dest }}</span>
              </td>

              <!-- Platform -->
              <td>
                  <span class="text-3xl font-bold">{{ train.platform ? train.platform : '-' }}</span>
              </td>

              <!-- Time Logic -->
              <td>
                {% if train.is_cancelled %}
                  <span class="bg-black text-white rounded px-2 py-1 text-lg font-bold">Cancelled</span>
                {% elsif train.is_delayed %}
                  <span class="text-lg line-through ml-2">{{ train.scheduled | date: "%H:%M" }} (est. {{ train.estimated | date: "%H:%M" }})</span>
                {% else %}
                  <span class="text-3xl font-bold">{{ train.scheduled | date: "%H:%M" }}</span>
                {% endif %}
              </td>
              
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    {% endif %}
    </div>

    {% if alerts.size > 0 %}
    <div class="w--full">
        <div class="text-sm">
          {% for status in alerts %}
            <div class="flex flex--row">
              <span class="font-bold mr-1">{{ status[0] }}:</span>
              {% for line in status[1] %}
              <span class="bg--gray-15 rounded--small px-16">
                <span class="ml-4 text--white">{{ line }}</span>
              </span>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <div>
      <span class="font-bold text-lg">TfL & National Rail</span>
      <span class="text-sm text-gray-600">Updated {{ last_updated | date: "%H:%M" }}</span>
    </div>
</div>